# ignore drafting and random sketches
/Brainstorm.txt

# ignore brainstorming pseudocode
/Pseudocode.txt

# ignore testing dictionary
/fakedictionary.txt

# ignore output files from running tests
Output/

# ignore example input files
Examples/

# ignore compiled executable
/file_recreation
